# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/

# Raw/processed data
data/raw/*
data/processed/*

# Models
models/*.pkl
models/*.joblib
models/*.pt
models/*.pth

# Secrets
.env

# OS
.DS_Store
Thumbs.db